:root {
  --main-bg-color: #1E2021;
  --main-text-color: #E4E1E1;
}

body {
  background-color: var(--main-bg-color);
  margin: 0 0 0 0;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 3.5em calc(100vh - 3.5em); 
  gap: 0px 0px; 
  grid-template-areas: 
    "navbar"
    "main";
}

main {
  grid-area: main;
}