.Container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}

.icons > * {
  margin-right: 10px;
}

@media (min-width: 48rem) {
  .link {
    max-width: 50%;
  }
}